[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
constructs = "~=10.1.223"
cdk8s = "~=2.6.22"
cdk8s-plus-25 = "~=2.3.27"

[pipenv]
allow_prereleases = true
